@mixin light {
    color-scheme: light;

    --main-bg: white;

    --primary-color: #fff;
    --accent-color: #000;
    // alerts
    --alert-shadow: #fff3;
    --alert-error: #e20338;
    --alert-info: #0064f1;
    --alert-success: #00dc44;

    --login-otp-bg: var(--thirty-percent);

    --alert-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    --addhome-color: blue;
    --login-link: blue;

    // 60/30/10 theme
    --sixty-percent: rgb(255, 255, 255);
    --thirty-percent: rgb(235, 235, 235);
    --ten-percent: #6fa027;

    --olive-green: #00b862;

    --com-percent: #6096e9;

    --redish: #f03f3f;

    --call-cta-color: #54a735;
    --call-cta-bg: #d0e8cc;
}
