@font-face {
    font-family: iranLight;
    font-display: swap;
    src: url(/amirkabir/dist-assets/iran-light-B637MNLG.woff2) format("woff2");
}
@font-face {
    font-family: iranBold;
    font-display: swap;
    src: url(/amirkabir/dist-assets/iran-bold-C8urhp07.woff2) format("woff2");
}
@font-face {
    font-family: yekanBold;
    font-display: swap;
    src: url(/amirkabir/dist-assets/IRANYekanWebBold-benL9biz.woff)
        format("woff2");
}
@font-face {
    font-family: yekan;
    font-display: swap;
    src: url(/amirkabir/dist-assets/IRANYekanWebRegular-Cn1RrIu7.woff)
        format("woff2");
}
@font-face {
    font-family: number;
    src:
        url(/amirkabir/dist-assets/Vazir-BcDELjKw.eot),
        url(/amirkabir/dist-assets/Vazir-dwXMXxrF.woff2) format("woff2"),
        url(/amirkabir/dist-assets/Vazir-Ck_6yBjb.ttf) format("truetype"),
        url(/amirkabir/dist-assets/Vazir-DIjBE7AV.woff) format("woff");
}
.alerts {
    position: fixed;
    z-index: 996;
    bottom: 0;
    width: clamp(0px, 100%, 400px);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    visibility: hidden;
    pointer-events: none;
}
.alerts.show {
    visibility: visible;
}
.alerts .alert-container {
    --color: var(--alert-success);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    width: 100%;
}
.alerts .alert-container.info {
    --color: var(--alert-info);
}
.alerts .alert-container.success {
    --color: var(--alert-success);
}
.alerts .alert-container.error {
    --color: var(--alert-error);
}
.alerts .alert-container .alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    box-shadow: #64646f33 0 7px 29px;
    border-radius: 100vmax;
    position: relative;
    z-index: 1;
    overflow: hidden;
    touch-action: pan-x pan-y;
    transform: translateY(-200%);
    opacity: 0;
    animation: go-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.alerts .alert-container .alert.hide {
    animation: go-out 0.5s cubic-bezier(0.68, 0, 0.825, 0.115) forwards;
}
@keyframes go-in {
    0% {
        transform: translateY(200%);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes go-out {
    0% {
        transform: translate(0);
        opacity: 1;
    }
    to {
        transform: translateY(200%);
        opacity: 0;
    }
}
.alerts .alert-container .alert .head {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
}
.alerts .alert-container .alert .head * {
    letter-spacing: -0.5px;
    font-family: iranLight;
}
.alerts .alert-container .alert .head svg {
    height: 25px;
    width: 25px;
    flex-shrink: 0;
    color: var(--color);
}
.alerts .alert-container .alert .head svg path {
    stroke: var(--color);
}
.alerts .alert-container .alert .alert-dot-container {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border: 1px solid var(--color);
    border-radius: 100vmax;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.alerts .alert-container .alert .alert-dot-container .alert-dot {
    width: 100%;
    height: 100%;
    background-color: var(--color);
    animation: move linear forwards;
}
@keyframes move {
    0% {
        transform: translate(0);
    }
    to {
        transform: translate(-105%);
    }
}
.login-page-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-image: url(/amirkabir/dist-assets/textile-A8gAewXZ.png);
    background-color: #154065;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.login-page-container h1 {
    color: #fff;
}
.login-page-container .login-card-container {
    margin: auto;
    flex-shrink: 0;
    width: clamp(0px, 100%, 500px);
    height: clamp(0px, 100%, 700px);
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem 1rem;
    border-radius: 1rem;
    background-color: #fff;
    transition: 0.3s ease;
}
.login-page-container .login-card-container.loading {
    filter: blur(3px);
    pointer-events: none;
}
.login-page-container .login-card-container img {
    width: clamp(0px, 100%, 200px);
}
.login-page-container .login-card-container .notes {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 1rem;
}
.login-page-container .login-card-container .notes .notes-head {
    font-family: iranBold;
    color: red;
}
.login-page-container .login-card-container .notes ol {
    list-style-position: inside;
}
.login-page-container .login-card-container .notes ol li {
    line-height: 1.5;
}
.login-page-container .login-card-container .inps {
    margin-block: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 0.5rem;
    width: 100%;
}
.login-page-container .login-card-container .inps .inp-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.login-page-container .login-card-container .inps .inp-holder input {
    padding: 1rem;
    border-bottom: 1px solid black;
}
.login-page-container .login-card-container .inps .captcha-container {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}
.login-page-container .login-card-container .inps .captcha-container img {
    height: 50px;
    width: 40%;
    outline: 1px solid grey;
}
.login-page-container .login-card-container .inps .captcha-container input {
    padding: 1rem;
    border-bottom: 1px solid black;
    flex: 1 0 0;
}
.login-page-container .login-card-container .cta {
    margin-top: auto;
    width: 100%;
    padding-block: 0.7rem;
    background-color: var(--ten-percent);
    border-radius: 0.5rem;
    color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
*:focus {
    outline: 0;
}
*::-webkit-scrollbar {
    display: none;
}
.selectable {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}
html body {
    color-scheme: light;
    --main-bg: white;
    --primary-color: #fff;
    --accent-color: #000;
    --alert-shadow: #fff3;
    --alert-error: #e20338;
    --alert-info: #0064f1;
    --alert-success: #00dc44;
    --login-otp-bg: var(--thirty-percent);
    --alert-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --addhome-color: blue;
    --login-link: blue;
    --sixty-percent: rgb(255, 255, 255);
    --thirty-percent: rgb(235, 235, 235);
    --ten-percent: #6fa027;
    --olive-green: #00b862;
    --com-percent: #6096e9;
    --redish: #f03f3f;
    --call-cta-color: #54a735;
    --call-cta-bg: #d0e8cc;
}
html body .root {
    background-color: var(--main-bg);
}
body {
    height: 100dvh;
    overflow-x: hidden;
    direction: rtl;
    -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 768px) {
    body {
        height: 100vh;
    }
}
@media all and (display-mode: standalone) {
    body {
        height: 100vh;
    }
}
body .root {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--accent-color);
    transition: background-color 1s ease;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    body .root {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
html,
body {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}
.section_title2 {
    font-size: 33px;
    font-family: iranBold;
}
.section_title {
    font-size: 30px;
    font-family: iranBold;
}
.title_hero {
    font-size: 27px;
    font-family: iranBold;
}
.title_hero2 {
    font-size: 21px;
    font-family: iranBold;
}
.title {
    font-size: 18px;
    font-family: yekanBold;
}
.title_small {
    font-size: 16px;
    font-family: yekanBold;
}
.title_smaller {
    font-size: 14px;
    font-family: yekan;
}
.description {
    font-size: 12px;
    font-family: yekan;
}
.description_small {
    font-size: 11px;
    font-family: yekan;
}
.icon {
    display: grid;
    place-items: center;
}
.rtl {
    direction: rtl;
}
.number {
    font-family: number;
}
.pinar {
    font-family: pinar;
    font-weight: 800;
}
a {
    color: unset;
    text-decoration: none;
    font: inherit;
}
button {
    border: none;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    color: unset;
    font: inherit;
}
img {
    -webkit-user-drag: none;
}
a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
    touch-action: manipulation;
}
a,
area,
button,
[role="button"],
label,
select,
summary {
    cursor: pointer;
}
input {
    border: none;
    outline: none;
    color: unset;
    background-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}
input[type="number"] {
    -moz-appearance: textfield !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--primaty-color) inset !important;
    -webkit-text-fill-color: var(--accent-color) !important;
    transition: background-color 5000s ease-in-out 0s;
    border-radius: inherit;
}
input:-webkit-autofill:first-line {
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
}
.not-ava-container {
    margin-top: 2rem;
    width: clamp(0px, 100%, 500px);
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: #fff;
    outline: 1px solid #ddd;
    box-shadow: #64646f33 0 3px 29px;
}
.not-ava-container svg {
    width: 50px;
    height: 50px;
    color: var(--alert-error);
}
